<div class="px-6 pt-4 pb-2">
  <span *ngIf="gender"
    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    {{ gender }}
  </span>
  <span *ngIf="status"
    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    {{ status }}
  </span>
  <span *ngIf="species"
    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    {{ species }}
  </span>
</div>