<div class="m-5">
  <h1 class="text-center font-bold text-2xl">Rick and Morty Favorites</h1>
  <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-2 mt-5">
    <div *ngFor="let item of data">
      <div [routerLink]="['/character', item.id]"
        class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 hover:cursor-pointer">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
          [src]="item.image" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{ item.name }}
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Origin: {{item.origin.name}}</p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Location: {{item.location.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>